

.fadein1 {
    width: 100%;
    /* border: solid 3px purple; */
    height: 60%;
    background-image: url(./wind/ZvI6p9VO.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 5s;
}


.pre{
    background-image: url(./wind/2703340.jpg);
    background-position: center;
    background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-repeat: no-repeat;
}


.go{
    background-image: url(./wind/sales/fe.png);
    background-position: center;
    background-size: cover;
 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-repeat: no-repeat;


}

.sil {
    background-image: url(./wind/sales/GettyImages-1245672492.webp);
    background-position: center;
    background-size: cover;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-repeat: no-repeat;


}

.bro{
    background-image: url(./wind/sales/p0ovlBvj.webp);
    background-position: center;
    background-size: cover;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-repeat: no-repeat;


}

.co {
    background-image: url(./wind/sales/vg1xUAcO.webp);
    background-position: center;
    background-size: cover;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-repeat: no-repeat;


}

.anot {
    margin-top: 3.5%;
    width: 97%;
    border-radius: 10px;
    height: 50vh;
    /* border: red 1px solid; */
    display: flex;
    background: linear-gradient( to left,transparent 0%,black 100%),url(./wind/sales/vg1xUAcO.webp);;
    background-repeat: no-repeat;
    background-size: cover;
   
    margin-bottom: 5%;
}